<html>
	<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
         src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
	<title>Sreejith K P</title>
	<link rel="icon" type="image/x-icon" href="https://bitbucket.org/sreekpmeenu/sreekpmeenu.bitbucket.io/downloads/sree.png">
	
	

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: MediumSeaGreen;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>


	</head>
	
	<!--<h1> Sreejith K. Pallathumadam </h1>-->
	<div style="background-color:MediumSeaGreen;color:white;padding:10px"><b>Sreejith K. Pallathumadam</b></div>

	<hr>
		I enjoy learning and conducting research in graph theory with particular interest in problems related to structural graph theory.
		<br><br>
		I am an Institute Post-Doctoral Fellow hosted by <a href="https://sites.google.com/view/nishadkothari">Dr. Nishad Kothari</a> at <a href="https://www.iitm.ac.in/">IIT Madras</a>. Currently, I am investigating the classes of graphs that admit <a href="http://www.openproblemgarden.org/op/behzads_conjecture">Total Coloring Conjecture</a> with <a href="https://www.isichennai.res.in/~mathew/">Prof. Mathew C. Francis (ISI Chennai)</a>.
		<br> Before that, I was a junior research fellow at <a href=""https://iitpkd.ac.in/>IIT Palakkad</a> mentored by <a href="https://iitpkd.ac.in/people/krithika">Dr. Krithika Ramaswamy</a>. We worked on "Color-Constrained Subgraph Problems" on edge-colored digraphs.
		<br><br> I am also working on <a href="https://www.graphclasses.org/classes/gc_1065.html">B0-VPG graphs</a> with <a href="https://iitpkd.ac.in/people/deepak">Dr. Deepak Rajendraprasad</a> under whose guidance, I defended my <a href="https://drive.google.com/file/d/1prkqRRbmK0Tb2Jro3WBCa4hFxLUwyo7s/view?usp=sharing">doctoral thesis</a> titled "Graphs and Posets as Intersection Patterns of Line Segments" in the <a href="https://iitpkd.ac.in/computer-science-and-engineering">department of Computer Science and Engineering</a> at IIT Palakkad. 
		<br>
		<!--<br> One can find a brief literature on <a href="vpgpapers.html">VPG graphs</a> as well as <a href="cc-subgraph.html">Color-Constrained Subgraphs</a> in a chronological order.
		<br>-->
		<br>
		<img src="https://bitbucket.org/sreekpmeenu/sreekpmeenu.bitbucket.io/downloads/cheechubw.jpeg" alt="Sreejith K P" width="200" height="200">
		
	</hr>
	<hr>
	<br>
		<a href="publications.html">Theses, Talks, and Publications</a> 
		<br> <br><a href="background.html">Achievements, Education and Experience</a>
		<br>
		<br><a href="https://dblp.org/pid/271/7845.html">DBLP</a>, <a href="https://scholar.google.com/citations?user=Pp2VD8oAAAAJ&hl=en">Google Scholar</a>, <a href="https://orcid.org/0000-0003-4697-5391">OrcId</a>,  <a href="https://drive.google.com/file/d/1lQX8cuAR20lyOd2sW381HnNT7u2VudYc/view?usp=sharing">CV</a>,  <a href="https://www.linkedin.com/in/sreejith-k-pallathumadam-176a91200/">LinkedIn</a>
	</hr>
	<br>
	<hr>
	Contact: 
	<br> - sreejithk D&#8857;T pallathumadam AT gmail D&#8857;T com 
    <br> - cs24r001 AT smail D&#8857;T iitm D&#8857;T ac D&#8857;T in
	</hr>
	
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div style="background-color:white;padding:30px 30px 2500px">.</div>

<script>
// Get the button
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } 
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
	<!--<br> A brief literature on VPG graphs is listed <a href="vpgpapers.html">here</a>  in a chronological order.
	</hr>
	<br>
	<hr>
	<a href="personal.html">Personal Details </a>
	</hr>--->
	
	<!--<div class="views">
    	<span class="views">
        	<img src="https://visitor-badge.glitch.me/badge?page_id={{ .Permalink }}" alt="Views"/>
    	</span>
	</div> -->


</html>